# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Logs
*.log

# Upload folders
uploads/

# Generated results
results/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db